@model IEnumerable<BookStore.Models.Book>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<p>
    @Html.ActionLink("New Book", "New", "Books", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>No books yet</p>
}
else
{
    <table id="books" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        <tbody>
            @foreach (var Book in Model)
            {
            <tr>
                <td>@Html.ActionLink(Book.Name, "Detail", "Books", new { id = Book.Id }, null)</td>
                <td>@Book.Author.Name</td>
                <td>@Book.Genre.Name</td>
                <td>@Book.Price</td>
                <td>@Html.ActionLink("Edit", "Edit", "Books", new { id = Book.Id }, null)</td>
                <td><button data-book-id="@Book.Id" class="btn-link js-delete">Delete</button></td>
            </tr>
            }
        </tbody>
        </thead>
    </table>
}
@section scripts{
    
    <script>
        $(document).ready(function () {
            $("#books.js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this book?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/books" + button.attr("data-book-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });

        });

    </script>


    }