@model IEnumerable<BookStore.Models.Book>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<p>
    @Html.ActionLink("New Book", "New", "Books", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>No books yet</p>
}
else
{
    <table id="books" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var book in Model)
            {
                <tr>
                    <td>@Html.ActionLink(book.Name, "Detail", "Books", new { id = book.Id }, null)</td>
                    <td>@book.Author.Name</td>
                    <td>@book.Genre.Name</td>
                    <td>@book.Price</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Books", new { id = book.Id }, null)</td>
                    <td><button data-book-id="@book.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }
        </tbody>
        
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#books").DataTable();

            $("#books").on("click",".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure to want to delete this book?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/books/" + button.attr("data-book-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }

                        });
                    }
                });

            });
        });
    </script>

}
