@model IEnumerable<BookStore.Models.Book>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Product list</h2>
<p>
    @Html.ActionLink("New book", "New", "Books", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>No book yet</p>
}
else
{
    <div id="books" class="">
        @foreach (var book in Model)
        {
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-responsive" src="~/Picture/@book.ImgUrl" height="200" width="140" />

                    @Html.ActionLink(book.Name, "Detail", "Books", new { id = book.Id }, null);
                    <br />
                    @book.Author.Name
                    <br />
                    @book.Genre.Name
                    <br />
                    @book.Price
                    <br />
                    @Html.ActionLink("Edit", "Edit", "Books", new { id = book.Id }, null)
                    <br />
                    <button data-book-id="@book.Id" class="btn-link js-delete">Delete</button>
                </div>
            </div>
        }
    </div>

}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#books").data();

            $("#books").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure to want to delete this book?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/books/" + button.attr("data-book-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }

                        });
                    }
                });

            });
        });
    </script>

}